*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin-left: 150px;
    margin-right: 100px;
    padding: 10px;
}

body{
    font-family: sans-serif;
}


.header {
    background-color:green;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
}

.container{
    display: flex;
}

.navbar{
    width: 30%;
    background: rgb(187, 201, 187);
    padding: 30px;
}

.content{
    width: 70%;
    background: rgb(222, 231, 222);
    padding: 30px;
}

.footer{
    background-color:green;
    text-align: center;
    padding: 20px 0;
}

.video{
    padding: 5px 0px;
    
}